@import './variable';

@font-face {
    font-family: 'Work Sans';
    font-style: normal;
    src: url('./_assets/fonts/WorkSans-VariableFont_wght.ttf');
}
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('./_assets/fonts/Roboto-Regular.ttf');
}
@font-face {
    font-family: 'Avenir Bold';
    font-style: normal;
    font-weight: 700;
    src: url('./_assets/fonts/AvenirNextCyr-Bold.ttf');
}
@font-face {
    font-family: 'Avenir Medium';
    font-style: normal;
    font-weight: 500;
    src: url('./_assets/fonts/AvenirNextCyr-Medium.ttf');
}
@font-face {
    font-family: 'Avenir Heavy';
    font-style: normal;
    font-weight: 600;
    src: url('./_assets/fonts/AvenirNextCyr-Heavy.ttf');
}
@font-face {
    font-family: 'Avenir Regular';
    font-style: normal;
    font-weight: 400;
    src: url('./_assets/fonts/AvenirNextCyr-Regular.ttf');
}
@font-face {
    font-family: 'Avenir Light';
    font-style: normal;
    font-weight: 300;
    src: url('./_assets/fonts/AvenirNextCyr-Light.ttf');
}

html,
body,
#root {
    height: 100vh;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Work Sans';
    font-size: 14px;
    color: $secondary;
    position: relative;
    overflow: hidden;

    & > * {
        box-sizing: border-box;
    }

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: transparent;
    }

    &::-webkit-scrollbar-thumb {
        background-color: $color-5;
        border-radius: 10px;
    }

    .table-responsive {
        &::-webkit-scrollbar {
            width: 6px;
            // height: 0;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: $color-5;
            border-radius: 10px;
        }
    }
}

body {
    background-color: #fbfbfb;
}

.shimmer {
    // background: linear-gradient(to right, #222 8%, #f0f0f0 18%, #222 33%) !important;
    background: linear-gradient(
        to right,
        rgba(255, 255, 255, 0.09) 8%,
        rgba(255, 255, 255, 0.06) 18%,
        rgba(255, 255, 255, 0.09) 33%
    ) !important;
    background-size: 1000px 100%;
    animation: shimmer 2.2s linear infinite forwards;
}

@-webkit-keyframes shimmer {
    0% {
        background-position: -100% 0;
    }

    100% {
        background-position: 100% 0;
    }
}

@keyframes shimmer {
    0% {
        background-position: -1000px 0;
    }
    100% {
        background-position: 1000px 0;
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a,
input,
textarea,
button {
    color: #fff;
}

input,
textarea {
    &:focus,
    &:active {
        &::placeholder {
            opacity: 0.5;
        }
    }
}

input,
textarea {
}

textarea {
    resize: none;
}

button {
    border: none;
    background: transparent;
    padding: 0;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

button,
input,
textarea,
a {
    outline: none !important;
}
